[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest-testmon = "*"
coverage = "*"
pytest-watch = "*"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
parameters = "*"
pytest = "*"
ipykernel = "*"

[requires]
python_version = "3.8"
